@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    color: white;
}
.container-lg {
    max-width: 1280px;
    margin: 0 auto;
}
.active {
    color: #fd5631;
}
.bg-hero {
    background-image: url("./assets/hero-bg.png");
}
.brand:hover {
    filter: brightness(1.75);
    filter: drop-shadow(0px 0px 10px #fd5631);
}

.indicate-bottom {
    transform: rotate(135deg);
}
.indicate-top {
    transform: rotate(-135deg);
}
